{% include header.html %}

{% include navbar.html %}

<!-- pass the person's `username` (like pdesai) -->

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item active"><i class="fa fa-fw fa-inbox"></i> Inbox</li>
                <li class="list-group-item"><i class="fa fa-fw fa-star"></i> Starred</li>
                <li class="list-group-item"><i class="fa fa-fw fa-paper-plane"></i> Sent</li>
                <li class="list-group-item"><i class="fa fa-fw fa-scroll"></i> Drafts</li>
                <li class="list-group-item"><i class="fa fa-fw fa-trash"></i> Spam</li>
            </ul>
        </div>
        <div class="col-md-8">
            {% for email in site.data.emails %}
                {% if email.in_inbox_of == page.username %}
                    <div class="card">
                        <div class="card-header">
                            {{ email.subject }} ({{ email.date }})
                            -- {{ email.to }}, {{ email.from }}
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for message in email.messages %}
                                <li class="list-group-item">
                                    <p>From: {{ message.from }}, To: {{ message.to }}</p>
                                    <p>{{ message.text }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <br><br>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% include footer.html %}